@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer localizer;

<div class="text-center">
    <h1 class="display-4">
        @localizer["Mis tareas"]
    </h1>
</div>

<div class="text-center" id="contenedor-listado-tareas">
    <div class="text-start" data-bind="foreach: tarea">
        <div name="tarea" class="border mb-2 p-2" style="cursor: pointer;">
            <div data-bind="text: titulo" class="fw-bold">

            </div>
        </div>

    </div>
</div>
@section Scripts{

    <script>
        const ListadoTareasViewModel = {
            tareas: ko.observableArray([])
        }
        ko.applyBindings(ListadoTareasViewModel, document.getElementById('contenedor-listado-tareas'));


    </script>
}